<%- include("../includes/navbar.ejs") %>
<title>History</title>
</head>
<body>
    <div class="main-history-container">
        <div class="history-container">
            <% for (let historyItem of history) { %>
                <div class="card">
                <!-- <div class="card-body"> -->
                    <!-- <b> -->
                        <div class="add-heading-card">

                            <p class="card-text"><%= historyItem.time %></p>
                            <p class="card-title"><%= historyItem.menuItem %></p>
                    <!-- </b> -->
                    <!-- <b> -->
                        <p class="card-text-1">Price: ₹<%= historyItem.price %></p>
                    <!-- </b> -->
                    <!-- <b> -->
                        <p class="card-text-1">Date: <%= historyItem.Created_At.toLocaleDateString('en-US', { month: 'short', day: 'numeric'}) %></p>
                    </div>
                        <!-- </b> -->
                        <!-- </div> -->
                        <form action="/home/attendance/<%= historyItem._id %>">
                            <button class="attendance-btn">Attendance</button>
                        </form>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>
