<%- include("../includes/navbar.ejs") %>
<link rel="stylesheet" href="/css/review.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/feedback.css">


<title>Home Page</title>
</head>

<body>
    <%- include("../flash/success.ejs") %>
    <%- include("../flash/failure.ejs") %>
            <div class="welcome">
                <div class="heading">
                    <h2 class="system">Welcome to Hostelly</h2>
                    <p>Savor a delicious and healthy breakfast at our mess where
                        every item is prepared fresh daily,
                        ensuring a delightful start to your day.</p>
                </div>
                <!-- <div class="image-div"> -->
                    <img src="/assests/DrawKit-cooking-kitchen-food-vector-illustrations-03.png" alt="kitchen-pic"
                    class="home-img" loading="lazy">
                <!-- </div> -->
                <!-- <a href="#" class="learn">Learn More</a> -->
            <!-- </div> -->
            </div>
            <div class="feedback-container">
                <!-- <div> -->
                <%for(let feedbacks of feedback) {%>
                    <div class="feedback-card">
                        <h2 class="feedback-heading">
                            <%=feedbacks.author.username %>
                        </h2>
                        <hr />
                        <br>
                        <div class="feedback-comment">
                            <p>
                                <%=feedbacks.comment %>
                            </p>
                        </div>
                        <p class="date">Reviewed On <%= feedbacks.Created_At.toLocaleDateString('en-US', { day: 'numeric'
                                ,month: 'numeric' , year : 'numeric' })%>
                        </p>
                        <div class="feedback-rating-star">
                            <p class="starability-result" data-rating="<%= feedbacks.rating%>">
                            </p>
                        </div>
                    </div>
                    <%}%>
                        <!-- </div> -->
            </div>
<%- include("../includes/footer.ejs") %>
            
</body>

</html>