<%- include("../includes/navbar.ejs") %>
<link rel="stylesheet" href="/css/review.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/feedback.css">


<title>Home Page</title>
</head>

<body>
    <%- include("../flash/success.ejs") %>
    <%- include("../flash/failure.ejs") %>
            <!-- <div class="welcome"> -->
                <div class="welcome-container">
                    <div class="heading">
                        <div class="welcome-container-child">
                            <h2 class="welcome-h2">Welcome to MessMeal</h2>
                            <p>
                                Savor a delicious and healthy breakfast at our mess where
                                every item is prepared fresh daily,
                                ensuring a delightful start to your day.
                            </p>
                        </div>
                    </div>
                    <div class="img-div">
                        <img src="/assests/DrawKit-cooking-kitchen-food-vector-illustrations-03.png" alt="kitchen-pic"
                        class="home-img" loading="lazy">
                    </div>
                </div>
            <!-- </div> -->

            <div class="overview">
                <div class="top">
                    <h1>Welcome to Hostelly Mess!</h1>
                    <p>Indulge in a culinary experience like no other. Our mess is dedicated to providing you with delicious and nutritious meals that cater to your taste buds and dietary preferences.</p>
                </div>
                <div class="bottom">
                    <div class="mess-img">
                        <img src="..\assests\mess.jpg" alt="Mess Interior Image">
                    </div>
                    <div class="content">
                        <h1>Fresh and Flavorful</h1>
                        <p>At Hostelly Mess, we take pride in serving meals made from fresh and locally sourced ingredients. Our chefs craft each dish with care to ensure a perfect blend of flavors in every bite.</p>
                    </div>
                </div>
            </div>

            <div class="feedback-container">
                    <%for(let feedbacks of feedback) {%>
                        <div class="feedback-card">
                            <%if(feedbacks.author) {%>
                                <h2 class="feedback-heading">
                                    <%=feedbacks.author.username %>
                                </h2>
                            <% } else{ %>
                                <h2>User not found</h2>
                                <% } %>
                            <hr />
                            <br>
                            <div class="feedback-comment">
                                <p>
                                    <%=feedbacks.comment %>
                                </p>
                            </div>
                            <p class="date">Reviewed On <%= feedbacks.Created_At.toLocaleDateString('en-US', { day: 'numeric'
                                    ,month: 'numeric' , year : 'numeric' })%>
                            </p>
                            <div class="feedback-rating-star">
                                <p class="starability-result" data-rating="<%= feedbacks.rating%>">
                                </p>
                            </div>
                        </div>
                        <%}%>
            </div>
<%- include("../includes/footer.ejs") %>
            
</body>

</html>