<%- include("../includes/navbar.ejs") %>
<title>Menu</title>
</head>
<body>
    <%- include("../flash/success.ejs") %>
    <%- include("../flash/failure.ejs") %>
    <div class="menu-item-container">
        <div class="item-heading">
            <h1>Today's Menu</h1>
            <p>Enjoy a healthy and tasty food in our mess. We make all items fresh daily.</p>
        </div>

        <%
        let latestBreakfast;
        let latestLunch;
        let latestDinner;

        for (let menus of menu) {
            if (
                (menus.time.toUpperCase() === "BREAKFAST" && (!latestBreakfast || menus.updatedAt > latestBreakfast.updatedAt)) ||
                (menus.time.toUpperCase() === "LUNCH" && (!latestLunch || menus.updatedAt > latestLunch.updatedAt)) ||
                (menus.time.toUpperCase() === "DINNER" && (!latestDinner || menus.updatedAt > latestDinner.updatedAt))
            ) {
                switch (menus.time.toUpperCase()) {
                    case "BREAKFAST":
                        latestBreakfast = menus;
                        break;
                    case "LUNCH":
                        latestLunch = menus;
                        break;
                    case "DINNER":
                        latestDinner = menus;
                        break;
                    default:
                        break;
                }
            }
        }

        function displayMenuItem(menu) {
            if (menu && menu._id) {
        %>
                <% let currentTime = new Date().getHours()%>
                <div class="item-main-container">
                <div class="item-box">
                    <% if(menu.time.toUpperCase() === "BREAKFAST") { %>
                        <h3><%= menu.time %></h3>
                        <h4><%= menu.menuItem %></h4>
                        <p>₹<%= menu.price %></p>
                        <% if( currentTime > 6 && currentTime < 8) { %>
                        <form method="POST" action="/home/menu/<%= menu._id %>?_method=PATCH" class="form-for-order-now">
                            <button class="order-now">Order Now</button>
                        </form>
                        <% } else{ %>
                            <button class="order-now" disabled>Order Now</button>
                            <% }%>
                </div>
                    <div class="item-box">
                    <% } else if(menu.time.toUpperCase() === "LUNCH") { %>
                        <h3><%= menu.time %></h3>
                        <h4><%= menu.menuItem %></h4>
                        <p>₹<%= menu.price %></p>
                        <% if( currentTime > 9 && currentTime < 11) { %>
                        <form method="POST" action="/home/menu/<%= menu._id %>?_method=PATCH">
                            <button class="order-now">Order Now</button>
                        </form>
                        <% }else{ %>
                            <button class="order-now" disabled>Order Now</button>
                            <% } %>
                    </div>
                    <div class="item-box">
                    <% } else if(menu.time.toUpperCase() === "DINNER") { %>
                        <h3><%= menu.time %></h3>
                        <h4><%= menu.menuItem %></h5>
                        <p>₹<%= menu.price %></p>
                        <% if(currentTime > 18 && currentTime < 22) { %>
                        <form method="POST" action="/home/menu/<%= menu._id %>?_method=PATCH">
                            <button class="order-now">Order Now</button>
                        </form>
                        <% } else{ %>
                            <button class="order-now" disabled>Order Now</button>
                            <% }%>
                    <% } %>
                    </div>
                </div>

        <%
            } else {
        %>
                <div class="item-container">
                    <div class="Not-updated">
                        <h3 >Not updated yet</h3>
                    </div>
                    <hr>
                </div>
        <%
            }
        }

        displayMenuItem(latestBreakfast);
        displayMenuItem(latestLunch);
        displayMenuItem(latestDinner);
        %>
    </div>

    <!-- Your script section goes here -->

</body>
</html>