<%- include("../includes/navbar.ejs") %>
<title>Menu</title>
</head>
<body>
    <%- include("../flash/success.ejs") %>
    <%- include("../flash/failure.ejs") %>
    <div class="menu-item-container">
        <div class="item-heading">
            <h1>Today's Menu</h1>
            <p>Enjoy a healthy and tasty food in our mess.We make all items
                fresh daily.</p>
        </div>
        <%
let latestBreakfast;
let latestLunch;
let latestDinner;

for (let menus of menu) {
if (
(menus.time.toUpperCase() === "BREAKFAST" && (!latestBreakfast || menus.updatedAt > latestBreakfast.updatedAt)) ||
(menus.time.toUpperCase() === "LUNCH" && (!latestLunch || menus.updatedAt > latestLunch.updatedAt)) ||
(menus.time.toUpperCase() === "DINNER" && (!latestDinner || menus.updatedAt > latestDinner.updatedAt))
) {
switch (menus.time.toUpperCase()) {
    case "BREAKFAST":
        latestBreakfast = menus;
        break;
    case "LUNCH":
        latestLunch = menus;
        break;
    case "DINNER":
        latestDinner = menus;
        break;
    default:
        break;
}
}
}

function displayMenuItem(menu) {
    if (menu && menu._id) {
        %>
        <div class="item-container">
            <div class="item-box">
                <h3><%= menu.time %></h3>
                <h5><%= menu.menuItem %></h5>
                <p>₹<%= menu.price %></p>
                <form method="POST" action="/home/menu/<%= menu._id %>?_method=PATCH">
                    <button class="order-now">Order Now</button>
                </form>
                <%if(currUser && currUser.username == "admin"){%>
                    <form action="/menu/<%=menu._id%>?_method=DELETE" method="POST">
                        <button class="order-now">Delete</button>
                    </form>
                    <form action="/menu/edit/<%=menu._id%>?method=UPDATE" method="GET">
                        <button class="order-now">Update</button>
                    </form>
                <%}%>
            </div>
            <hr>
        </div>
        <%
    } else {
        %>
        <div class="item-container">
            <div class="item-box">
                <h3>Not Update</h3>
            </div>
            <hr>
        </div>
        <%
    }
}


displayMenuItem(latestBreakfast);
displayMenuItem(latestLunch);
displayMenuItem(latestDinner);
%>

</body>
</html>